.navbar-icon-background{
    background-color: hsl(0, 0%, 96%);
    border-color: hsl(0, 0%, 96%);
}

.self-introduction {
    text-align: right;
    font-family: sans-serif;
    margin-top: 1em;
}

.project-pic {
    height: 400px;
    margin-top: 15%;
}

.button.is-light {
    font-size: 120%;
}

.project-list{
    text-align: center;
}

.hero.is-large .hero-body {
    padding: 12rem 1.5rem;
}

.columns.is-centered {
    padding-bottom: 5em;
}
.section-name{
     text-align: left;
     font-family: sans-serif;
     font-size: 180%;
     padding-bottom: 5px;
 }
 
 .section-title{
     padding-bottom: 0px;
 }

.resume{
     text-align: left;
 }

.logo{
    max-width:75%;
}

.work-title{
    margin-top:5px;
    font-weight: bold;
}