.navbar-icon-background{
    background-color: hsl(0, 0%, 96%);
    border-color: hsl(0, 0%, 96%);
}

.self-introduction{
    text-align: right;
    font-family: sans-serif;
}

.project-pic {
    height: 400px;
    margin-top: 15%;
}

.button.is-light {
    font-size: 120%;
}
